<section class="authority-fragment">
  <h3>TIC on Double Line</h3>
  <dl>
    <dt>Document for Opening Communication</dt><dd>T/C 602 (3 parts)</dd>
    <dt>Signals</dt><dd>Except LSS, fixed signals can be taken OFF</dd>
    <dt>Speed</dt><dd>25 / 10 / walking speed</dd>
    <dt>Interval</dt><dd>30 minutes after every train</dd>
    <dt>Tunnel</dt><dd>Visibility clearance to be ascertained</dd>
    <dt>Protection</dt><dd>250+250+10</dd>
    <dt>Backing of Train</dt><dd>Prohibited, except unavoidable circumstances</dd>
    <dt>At the FSS of Receiving Station</dt><dd>LP to stop at FSS and whistle continuous; if no response in 10 minutes from SM, send ALP to station; TMR to protect</dd>
  </dl>
</section>
