<section class="authority-fragment">
  <h3>TIC on Single Line</h3>
  <dl>
    <dt>Document for Opening Communication</dt><dd>T/B 602 (5 parts)</dd>
    <dt>For more than One Train</dt><dd>T/E 602</dd>
    <dt>Signals</dt><dd>Except LSS, fixed signals can be taken OFF</dd>
    <dt>Speed</dt><dd>15 / 10 / walking speed</dd>
    <dt>Tunnel</dt><dd>Visibility clearance to be ascertained</dd>
    <dt>Note</dt><dd>SM not to obstruct the line beyond outermost facing point</dd>
    <dt>Line Clear Reply</dt><dd>T/F 602</dd>
    <dt>Conditional Line Clear Ticket</dt><dd>[T/G 602 or T/H 602] + T/369(3b)</dd>
    <dt>Speed while Returning</dt><dd>Booked Speed</dd>
    <dt>At mid section</dt><dd>When two engines meet, LP and TMR will decide</dd>
    <dt>Protection</dt><dd>250+250+10</dd>
  </dl>
</section>
